.AboutWrapper {
  flex-direction: row !important;
}

.aboutContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutContainer h2 {
  font-size: 28px;
  color: var(--text-color);
}

.aboutContainer p {
  font-size: 14px;
  color: var(--pera-color);
}

/* .skilWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 120px;
}
*/
.skilWrapper .skil {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  transition: 0.6s;
}

.skilWrapper .skil h3 {
  color: var(--text-color);
  font-size: 18px;
}

.skilWrapper .skil .line {
  gap: 1px;
  height: 16px;
  width: 100%;
  background-color: var(--primary-color);
  position: relative;
}

.skilWrapper .skil .line::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 0.5%;
  width: 70%;
  height: 60%;
  background-color: var(--Light-color);
}

.skilWrapper .skil:hover .line:hover {
  box-shadow: 0 0 20px #969898;
}

.skilWrapper .skil:nth-of-type(2) .line::after {
  width: 95%;
}
.skilWrapper .skil:nth-of-type(3) .line::after {
  width: 86%;
}
.skilWrapper .skil:nth-of-type(4) .line::after {
  width: 98%;
}
.skilWrapper .skil:nth-of-type(5) .line::after {
  width: 90%;
}
.skilWrapper .skil:nth-of-type(6) .line::after {
  width: 76%;
}
.skilWrapper .skil:nth-of-type(7) .line::after {
  width: 81%;
}

.AboutImg {
  width: 50%;
  /* height: 70%; */
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  flex-wrap: wrap;
  gap: 1px 94px;
  position: relative;
}

.AboutImg img {
  width: 130px; /* 设置初始宽度 */
  height: auto; /* 保持图片比例 */
}

.AboutImg:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
  .headerWrapper {
    flex-direction: column-reverse !important;
  }

  .headerContainer {
    width: 100%;
    margin-top: 80px;
  }

  .AboutImg {
    width: 100%;
    justify-content: center;
  }

  .AboutImg img {
    width: 80%;
  }

  @media screen and (max-width: 900px) {
    .AboutImg img {
      width: 30%;
    }
  }
}
