.Nav {
  height: 80px;
  width: 100%;
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  padding: 0 12%;
}

.Nav .logo a {
  font-size: 26px;
  font-weight: 600;
  color: #e6f607;
  padding: 500px 0 0 0;
}

.NavBtns {
  display: flex;
  gap: 8px;
}

.NavBtns i {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e20707;
  font-size: 15px;
  cursor: pointer;
}

.NavBtns i:nth-child(2) {
  display: none;
}

.Nav ul li {
  display: inline-block;
  margin: 0 8px;
}

.Nav ul li a,
.Nav i {
  color: var(--text-color);
}

.Nav ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  padding: 5px 12px;
  background-color: var(--nav-txt-bg);
  transition: 0.6s;
}

.Nav ul li:hover a {
  background-color: var(--primary-color);
}

.Nav .activeNav {
  height: 85vh;
}
