.PortfWrapper {
  padding: 50px 0;
}

.PortfWrapper h1 {
  color: var(--text-color);
}

.Worklist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.WorkProject {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.WorkProject img {
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 180px;
  transition: transform 0.5s;
}

.Worklist .WorkProject h3 {
  color: var(--text-color);
}

.Worklist .WorkProject p {
  color: var(--text-color);
}

.Worklist .WorkProject i {
  color: var(--text-color);
}

.Worklist .WorkProject:hover img {
  transform: scale(1.1);
}

.PortfWrapper @media screen and (max-width: 1400px) {
  .portfolioWrapper .pera {
    width: 100%;
  }
}
